<!DOCTYPE html>
<html>
<head>
	<title>Update book</title>
</head>
<body>
	<div>
		<h1>Edit Info</h1> 		
	</div>

	<a href="/home/view_books"> Back to List</a> |
	<a href="/logout"> logout</a><br>

	<form method="post">
		<table>
			<tr>
				<td>Id</td>
				<td><input type="text" readonly name="id" value="<%=book.id%>"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" value="<%=book.name%>"></td>
			</tr>
			<tr>
				<td>Caregory :</td>
				<td><input type="text" name="category" value="<%=book.category %>"></td>
			</tr>
			<tr>
				<td>Author name :</td>
				<td><input type="text" name="author_name" value="<%=book.author_name %>"></td>
            </tr>
            <tr>
				<td>Price :</td>
				<td><input type="text" name="price" value="<%=book.price%>"></td>
            </tr>
            <tr>
				<td>Discription :</td>
				<td><input type="text" name="discription" value="<%=book.discription%>"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Update"></td>
			</tr>
		</table>
	</form>
</body>
</html>