<!DOCTYPE html>
<html>
<head>
	<title>Book Page</title>
</head>
<body>
	<div>
		<h1>Book list</h1> 		
	</div>

	<a href="/home"> Back</a> |
	<a href="/logout"> logout</a><br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Catagory</td>
            <td>Author name</td>
            <td>Price</td>
            <td>discription</td>
			<td>Action</td>
		</tr>
		<% for(var i=0; i < booklist.length; i++){ %>
		<tr>
			<td><%= booklist[i].id %></td>
			<td><%= booklist[i].name %></td>
			<td><%= booklist[i].category %></td>
            <td><%= booklist[i].author_name %></td>
            <td><%= booklist[i].price %></td>
            <td><%= booklist[i].discription %></td>
			<td>
				<a href="/home/update/<%= booklist[i].id %>">EDIT</a> | 
				<a href="/home/delete/<%= booklist[i].id %>">DELETE</a>  
			</td>
		</tr>
		<% } %>
	</table>
</body>
</html>